<!doctype html>
<html lang="en">
  <head>
    <!-- REQUIRED META TAGS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
    
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/orders.css">
    
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   
    <title>FoCo Pop!</title>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-md fixed-top">
      <a class="navbar-brand" href="/">FoCo Pop!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
        </ul>
      </div>
    </nav>

  <div id="receipt">
    <div class="receipt-container">
      <h3 class="receipt-header">Hello, <%= Name %>, thanks for placing your order with FoCo Pop! Here's your receipt!</h3>
      <h4 class="receipt-info">Name: <%= Name %> </h4>
      <h5 class="receipt-info">Email: <%= Email %> </h5>
      <h5 class="receipt-info">Phone Number: <%= Phone %> </h5>
      <p class="receipt-info receipt-textarea"> <%= Textarea %> </p>
    </div>
  </div>

  <div class="return-btn-div">
    <a href="/" class="return-btn">Home</a>
  </div>

<%- include('footer') %>